body {
    background: green;
}

.welcome {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg') left bottom;
    background-size: cover;
}

.UserView {
    background: url("https://cdn.auth0.com/blog/whatabyte-portal/patio.jpeg") left bottom;
    background-size: cover;
}